* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/1347473.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    position: relative;
}

img {
    width: 100px;
    height: 100px;
}

.logo {
    margin-left: 130px;
    margin-top: 20px;
}

.nav-items {
    position: absolute;
    right: 120px;
    top: 50px;
    display: inline-block;
}

.nav-items a{
    font-size: 17px;
    margin-right: 60px;
    padding-bottom: 10px;
    border-bottom-width:0;
    transition: 0.5s;
    position: relative;
}

.nav-items a::after{
    content: "";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-items a:hover::after{
    width: 100%;
}

.main{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.main h1{
    font-size: 70px;
}


.main p{
    font-size: 16px;
    margin-top: 20px;
}


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #009688;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}